formatter.name: pretty
suites:
  default_suite:
    namespace: DerMonozukurist\PhpSpec\CoverageTest
    psr4_prefix: DerMonozukurist\PhpSpec\CoverageTest

extensions:
  FriendsOfPhpSpec\PhpSpec\CodeCoverage\CodeCoverageExtension:
    format:
      - html
    output:
      html: coverage

  DerMonozukurist\PhpSpec\CoverageTest\Extension:
    min_coverage: 100.0
