formatter.name: pretty
suites:
  default_suite:
    namespace: Mahalay\PhpSpec\CoverageTest
    psr4_prefix: Mahalay\PhpSpec\CoverageTest

extensions:
  FriendsOfPhpSpec\PhpSpec\CodeCoverage\CodeCoverageExtension:
    format:
      - html
      - clover
    output:
      html: coverage
      clover: coverage/clover.xml

  Mahalay\PhpSpec\CoverageTest\Extension:
    min_coverage: 100.0
